<%= form_for(@office) do |f| %>
  <% if @office.errors.any? %>
    <div id="error_explanation">
      <h2>Nije moguće kreirati poslovnicu zbog sljedećih grešaka:</h2>

      <ul>
      <% @office.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Naziv poslovnice %><br />
    <%= f.text_field :officeName %>
  </div>
  <div class="field">
    <%= f.label :Adresa %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :Telefon %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
