<p id="notice"><%= notice %></p>

<p>
  <b>Officename:</b>
  <%= @office.officeName %>
</p>

<p>
  <b>Address:</b>
  <%= @office.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @office.phone %>
</p>


<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
