<p id="notice"><%= notice %></p>

<p>
  <b>Naziv poslovnice:</b>
  <%= @office.officeName %>
</p>

<p>
  <b>Adresa:</b>
  <%= @office.address %>
</p>

<p>
  <b>Telefon:</b>
  <%= @office.phone %>
</p>


<%= link_to 'Uredi', edit_office_path(@office) %> |
<%= link_to 'Nazad', offices_path %>
