<%= form_for(@contract, :html => { :class => "form-horizontal", multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: @contract %>

  <div class="form-group">
    <%= f.label :Naziv %><br />
    <%= f.text_field :contractName, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Tip_ugovora %><br />
    <%= f.text_field :contractType, :class => "form-control" %>
  </div>

  <div class="form-group">
    <span style="margin-left: 1px">
      <%= f.label :Dokumenti %>
    </span>
    <br/>
    <%= file_field_tag "documents[]", type: :file, multiple: true %>
  </div>

  <div class="form-group">
    <%= f.label :Nekretnina %>
    <%= f.collection_select :real_estate_id, @real_estates, :id, :realEstateName, {:include_blank => 'Odaberite nekretninu'}, {class: "form-control btn btn-primary dropdown-toggle"} %>
  </div>

  <div class="form-group">
    <%= f.label :Datum_početka %><br />
    <%= f.datetime_select :contactStart, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Datum_završetka %><br />
    <%= f.datetime_select :contractEnd, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Spasi", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
