<h1>Ugovori</h1>

<%= link_to 'Novi ugovor', new_contract_path, class: "btn btn-large btn-primary" %>
<br/>
<br/>

<table>
  <tr>
    <th>Tip ugovora</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contracts.each do |contract| %>
  <tr>
    <td><%= contract.contractType %></td>
    <td><%= link_to 'Detalji', contract %></td>
    <td><%= link_to 'Uredi', edit_contract_path(contract) %></td>
    <td><%= link_to 'Obriši', contract, confirm: 'Da li ste sigurni?', method: :delete %></td>
  </tr>
<% end %>
</table>

