<div class="col-md-6 col-md-offset-2">
  <table style="width: 100%">
    <tr style="border-bottom: 1px solid lightgray;">
      <td><b>Naziv:</b></td>
      <td style="padding-bottom: 10px; padding-top: 10px;"><%= @contract.contractName %></td>
    </tr>

    <tr style="border-bottom: 1px solid lightgray;">
      <td><b>Tip ugovora:</b></td>
      <td style="padding-bottom: 10px; padding-top: 10px;"><%= @contract.contractType %></td>
    </tr>

    <% if @contract.real_estate %>
      <tr style="border-bottom: 1px solid lightgray;">
        <td><b>Nekretnina:</b></td>
        <td style="padding-bottom: 10px; padding-top: 10px;"><%= @contract.real_estate.realEstateName %></td>
      </tr>
    <% end %>

    <tr style="border-bottom: 1px solid lightgray;">
      <td><b>Korisnik:</b></td>
      <td style="padding-bottom: 10px; padding-top: 10px;"><%= "#{@contract.user.firstName} #{@contract.user.lastName}" %></td>
    </tr>

    <% unless @documents.empty? %>
    <tr style="border-bottom: 1px solid lightgray;">
      <td><b>Dokumenti:</b></td>
      <td style="padding-bottom: 10px; padding-top: 10px;">
      <% @documents.each do |image| %>
        <% file_name = File.basename(image.file.url, File.extname(image.file.url)); %>
        <%= link_to file_name, image.file.url %><br/>
      <% end %>
      </td>
    </tr>
    <% end %>
  </table>

  <%= link_to 'Uredi', edit_contract_path(@contract) %> |
  <%= link_to 'Nazad', contracts_path %>
</div>