<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :taskText %><br />
    <%= f.text_field :taskText %>
  </div>
  <div class="field">
    <%= f.label :taskDate %><br />
    <%= f.datetime_select :taskDate %>
  </div>
  <div class="field">
    <%= f.label :taskDuration %><br />
    <%= f.text_field :taskDuration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
