<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2>Nije moguće dodati zadatak zbog sljedećih grešaka:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Tekst_zadatka %><br />
    <%= f.text_field :taskText %>
  </div>
  <div class="field">
    <%= f.label :Datum %><br />
    <%= f.datetime_select :taskDate %>
  </div>
  <div class="field">
    <%= f.label :Trajanje %><br />
    <%= f.text_field :taskDuration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
