<h1>Taskovi</h1>

<table>
  <tr>
    <th>Tekst zadatka</th>
    <th>Datum</th>
    <th>Trajanje</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.taskText %></td>
    <td><%= task.taskDate %></td>
    <td><%= task.taskDuration %></td>
    <td><%= link_to 'Detalji', task %></td>
    <td><%= link_to 'Uredi', edit_task_path(task) %></td>
    <td><%= link_to 'Obriši', task, confirm: 'Da li ste sigurni?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novi zadatak', new_task_path %>
