<%= form_for(@real_estate_type) do |f| %>
  <% if @real_estate_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@real_estate_type.errors.count, "error") %> prohibited this real_estate_type from being saved:</h2>

      <ul>
      <% @real_estate_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :realEstateType %><br />
    <%= f.text_field :realEstateType %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
