<h1>Tipovi nekretnina</h1>

<table>
  <tr>
    <th>Tip nekretnine</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @real_estate_types.each do |real_estate_type| %>
  <tr>
    <td><%= real_estate_type.realEstateType %></td>
    <td><%= link_to 'Detalji', real_estate_type %></td>
    <td><%= link_to 'Uredi', edit_real_estate_type_path(real_estate_type) %></td>
    <td><%= link_to 'Obriši', real_estate_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novi tip nekretnine', new_real_estate_type_path %>
