<h1>Lista detalja</h1>

<table>
  <tr>
    <th>Veličina</th>
    <th>Slike</th>
    <th>Tip</th>
    <th>Stanje</th>
    <th>Napomena</th>
    <th>Nekretnina</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @real_estate_details.each do |real_estate_detail| %>
  <tr>
    <td><%= real_estate_detail.size %></td>
    <td><%= real_estate_detail.images %></td>
    <td><%= real_estate_detail.realEstateType %></td>
    <td><%= real_estate_detail.condition %></td>
    <td><%= real_estate_detail.note %></td>
    <td><%= real_estate_detail.real_estate_id %></td>
    <td><%= link_to 'Detalji', real_estate_detail %></td>
    <td><%= link_to 'Uredi', edit_real_estate_detail_path(real_estate_detail) %></td>
    <td><%= link_to 'Obriši', real_estate_detail, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novi detalji', new_real_estate_detail_path %>
