<p id="notice"><%= notice %></p>

<p>
  <b>VeliÄina:</b>
  <%= @real_estate_detail.size %>
</p>

<p>
  <b>Slike:</b>
  <%= @real_estate_detail.images %>
</p>

<p>
  <b>Tip nekretnine:</b>
  <%= @real_estate_detail.realEstateType %>
</p>

<p>
  <b>Stanje:</b>
  <%= @real_estate_detail.condition %>
</p>

<p>
  <b>Napomena:</b>
  <%= @real_estate_detail.note %>
</p>

<p>
  <b>Nekretnina:</b>
  <%= @real_estate_detail.real_estate_id %>
</p>


<%= link_to 'Uredi', edit_real_estate_detail_path(@real_estate_detail) %> |
<%= link_to 'Nazad', real_estate_details_path %>
