<%= form_for(@user, :html => {:class => "form-horizontal"}) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <div class="form-group">
    <%= f.label :firstName %>
    <%= f.text_field :firstName, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :lastName %>
    <%= f.text_field :lastName, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.collection_select :role_ids, @user_roles, :id, :roleName, {:selected => @user.roles}, {class: "btn btn-primary dropdown-toggle", multiple: true} %>
  </div>

  <div class="form-group">
    <%= select_tag :role_ids, options_from_collection_for_select(@user_roles, "id", "roleName"), :name => 'user[role_ids][]', multiple: true %>
  </div>

  <div class="form-group">
    <% @user_roles.each do |role| %>
      <%= check_box_tag :role_ids, role.id, @user.roles.include?(role), :name => 'user[role_ids][]' =%>
      <%= label_tag :roles_ids, role.roleName =%>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar%>
  </div>

  <div class="form-group">
    <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
  </div>
<% end %>

