<%= form_for(@user, :html => {:class => "form-horizontal"}) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <div class="form-group">
    <%= f.label :Ime %>
    <%= f.text_field :firstName, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Prezime %>
    <%= f.text_field :lastName, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Adresa %>
    <%= f.text_field :address, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :KorisniÄko_ime %>
    <%= f.text_field :username, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Lozinka %>
    <%= f.password_field :password, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Potvrda_lozinke %>
    <%= f.password_field :password_confirmation, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Email %>
    <%= f.text_field :email, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= select_tag :role_ids, options_from_collection_for_select(@user_roles, "id", "roleName"), :name => 'user[role_ids][]', multiple: true %>
  </div>

  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar%>
  </div>

  <div class="form-group">
    <%= f.submit "Kreiraj korisnika", class: "btn btn-large btn-primary" %>
  </div>
<% end %>

