<!-- <p id="notice"><%= notice %></p> -->

<div class="row">
<br/>
<br/>
  <div class="col-md-2 col-md-offset-2">
    <section>
      <%= image_tag @user.avatar.url(:thumb), height: 100, width: 100 %>
    </section>
    <br/>
    <%= link_to 'Uredi', edit_user_path(@user) %> |
    <%= link_to 'Nazad', users_path %>
  </aside>
</div>

  <div class="col-md-6 col-md-offset-2" style="margin-left: 0;">
  <section>
    <table style="width: 60%">
      <tr>
        <td><b>Ime:</b></td>
        <td style="padding-bottom: 5px;"><%= @user.firstName %></td>
      </tr>
      <tr>
        <td><b>Prezime:</b></td>
        <td style="padding-bottom: 5px;"><%= @user.lastName %></td>
      </tr>
      <tr>
        <td><b>Email:</b></td>
        <td style="padding-bottom: 5px;"><%= @user.email %></td>
      </tr>
      <tr>
        <td><b>Korisničko ime:</b></td>
        <td style="padding-bottom: 5px;"><%= @user.username %></td>
      </tr>
      <tr>
        <td><b>Korisničke role:</b></td>
        <td style="padding-bottom: 5px;"><%= @role_names.join(',') %></td>
      </tr>
    </table>
    </section>
    <hr>
</div>


