<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @manager.firstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @manager.lastName %>
</p>

<p>
  <b>Address:</b>
  <%= @manager.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @manager.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @manager.email %>
</p>

<p>
  <b>Username:</b>
  <%= @manager.username %>
</p>

<p>
  <b>Password:</b>
  <%= @manager.password %>
</p>


<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
