<%= form_for(@user_role) do |f| %>
  <% if @user_role.errors.any? %>
    <div id="error_explanation">
      <h2>Nije moguće dodati novu rolu zbog sljedećih grešaka:</h2>

      <ul>
      <% @user_role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Naziv_role %><br />
    <%= f.text_field :roleName %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
