<h1>Korisničke role</h1>

<table>
  <tr>
    <th>Naziv role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_roles.each do |user_role| %>
  <tr>
    <td><%= user_role.roleName %></td>
    <td><%= link_to 'Detalji', user_role %></td>
    <td><%= link_to 'Uredi', edit_user_role_path(user_role) %></td>
    <td><%= link_to 'Obriši', user_role, confirm: 'Da li ste sigurni?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova korisnička rola', new_user_role_path %>
