<%= javascript_include_tag("https://code.jquery.com/jquery-1.10.2.min.js") %>
<%= javascript_include_tag("http://maps.google.com/maps/api/js?key=AIzaSyC3nL5ClzQKlS_0gWyJkD4WAL7yMkRrAGQ&sensor=false&libraries=places") %>
<%= javascript_include_tag("locationpicker.jquery.js") %>

<%= form_for(@real_estate, :html => { :class => "form-horizontal", multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: @real_estate %>

  <div class="form-group">
    <%= f.label :Naziv_nekretnine %>
    <%= f.text_field :realEstateName, :class => "form-control" %>
  </div>

  <div class="form-group">
    <span style="margin-left: 1px">
      <%= f.label :Grad %>
    </span>
    <br/>
    <span>
      <%= f.collection_select :city_id, @cities, :id, :cityName, {:include_blank => 'Please Select'} %>
    </span>
  </div>

  <div class="form-group">
    <span style="margin-left: 1px">
      <%= f.label :Tip_nekretnine %>
    </span>
    <br/>
    <span>
      <%= f.collection_select :real_estate_type_id, @re_types, :id, :realEstateType, {:include_blank => 'Please Select'} %>
    </span>
  </div>

  <div class="form-group">
    <span style="margin-left: 1px">
      <%= f.label :Slike %>
    </span>
    <br/>
    <%= file_field_tag "images[]", type: :file, multiple: true %>
  </div>

   <%= fields_for :real_estate_detail, @real_estate.real_estate_detail do |re_details_fields| %>
    <div class="form-group">
      <%= re_details_fields.label :VeliÄina_u_m2 %>
      <%= re_details_fields.text_field :size, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= re_details_fields.label :Stanje %>
      <%= re_details_fields.text_field :condition, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= re_details_fields.label :Adresa %>
      <%= re_details_fields.text_field :address, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= re_details_fields.label :Napomena %>
      <%= re_details_fields.text_area :note, :class => "form-control", :rows => "4" %>
    </div>
    <div class="form-group">
      <%= re_details_fields.label :Opis %>
      <%= re_details_fields.text_area :description, :class => "form-control custom-text-area", :rows => "15" %>
    </div>
  <% end %>

  <br/>
  <%= hidden_field_tag 'latitude'%>
  <%= hidden_field_tag 'longitude'%>
  <div class="form-group">
    <%= f.label :Lokacija %>
    <div id="map" style="width: 100%; height: 400px;"></div>
  </div>
  <br/>
  <br/>

  <div class="form-group">
    <%= f.submit "Spasi", class: "btn btn-large btn-primary" %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                real_estates_path, :class => 'btn btn-mini' %>
  </div>
<% end %>

<%= javascript_tag do %>
  $('#map').locationpicker({
    oninitialized: function (component) {},
    onchanged: function (currentLocation, radius, isMarkerDropped) {
      document.getElementById("latitude").value = currentLocation.latitude;
      document.getElementById("longitude").value = currentLocation.longitude;
    }
  });
<% end %>