<h1>Kuće</h1>

<div style="margin-left: 40px">
    <%= will_paginate @real_estates, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
</div>

<table style="width: 600px; margin-bottom: 10px; margin-left: 40px;">
  <tr>
    <th>
      <% if current_user && current_user.can_create_real_estate? %>
        <%= link_to 'Nova nekretnina', new_real_estate_path(real_estate_type: 'Kuća'), class: "btn btn-large btn-primary" %>
      <% end %>
    </th>
    <th>
      <%= form_for("real_states", :html => { :class => "form-horizontal"}) do |f| %>
          <%= f.collection_select :city_id, City.all, :id, :cityName, {:include_blank => 'Odaberite grad'}, {class: "btn btn-primary dropdown-toggle custom_re_dropdown"} %>
        <%=  f.submit "Osvježi", class: "btn btn-large btn-primary"%>
      <% end %>
    </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<ul class="users">
    <%= render @real_estates %>
</ul>

<div style="margin-left: 40px">
    <%= will_paginate @real_estates, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
</div>

