<h1>Korisničke role</h1>

<table>
  <tr>
    <th>Naziv role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= role.roleName %></td>
    <td><%= link_to 'Detalji', role %></td>
    <td><%= link_to 'Uredi', edit_role_path(role) %></td>
    <td><%= link_to 'Obriši', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova rola', new_role_path %>
