<p id="notice"><%= notice %></p>

<p>
  <b>Countryname:</b>
  <%= @country.countryName %>
</p>

<p>
  <b>Postalcode:</b>
  <%= @country.postalCode %>
</p>


<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
