<%= form_for(@city, :html => {:class => "form-horizontal"}) do |f| %>
  <%= render 'shared/error_messages', object: @city %>

  <div class="form-group">
    <%= f.label :city_name %>
    <%= f.text_field :cityName, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :postal_code %>
    <%= f.text_field :postalCode, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.collection_select :country_id, @countries, :id, :countryName, {:include_blank => 'Please Select'}, {class: "btn btn-primary dropdown-toggle"} %>
  </div>

  <div class="form-group">
    <%= f.submit "Create city", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
