<p id="notice"><%= notice %></p>

<p>
  <b>Naziv grada:</b>
  <%= @city.cityName %>
</p>

<p>
  <b>Poštanski broj:</b>
  <%= @city.postalCode %>
</p>


<%= link_to 'Uredi', edit_city_path(@city) %> |
<%= link_to 'Nazad', cities_path %>
