<h1>Aktivnosti</h1>

<%= link_to 'Nova aktivnost', new_activity_path, class: "btn btn-large btn-primary" %>
<br/>
<br/>
<table>
  <tr>
    <th>Naziv aktivnosti</th>
    <th>Datum početka</th>
    <th>Datum završetka</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.activityName %></td>
    <td><%= activity.startDate %></td>
    <td><%= activity.endDate %></td>
    <td><%= link_to 'Detalji', activity %></td>
    <td><%= link_to 'Uredi', edit_activity_path(activity) %></td>
    <td><%= link_to 'Obriši', activity, confirm: 'Da li ste sigurni?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
