<p id="notice"><%= notice %></p>

<p>
  <b>Activityname:</b>
  <%= @activity.activityName %>
</p>

<p>
  <b>Startdate:</b>
  <%= @activity.startDate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @activity.endDate %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
