<%= form_for(@report, :html => { :class => "form-horizontal", multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: @report %>

  <div class="form-group">
    <%= f.label :Naziv_izvještaja%><br />
    <%= f.text_field :report, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Spasi", class: "btn btn-large btn-primary" %>
  </div>
<% end %>

<div class="row">
<div class="col-md-4 col-md-offset-0">
  <table style="width: 100%">
    <tr style="border-bottom: 1px solid lightgray;">
      <td style="padding-bottom: 10px; padding-top: 10px;"><b><td><%= link_to 'Broj nekretnina po mjesecima', monthly_articles_path %></b></td>
    </tr>

    <tr style="border-bottom: 1px solid lightgray;">
      <td><b>Tip ugovora:</b></td>
      <td style="padding-bottom: 10px; padding-top: 10px;">test</td>
    </tr>

    <tr style="border-bottom: 1px solid lightgray;">
      <td><b>Nekretnina:</b></td>
      <td style="padding-bottom: 10px; padding-top: 10px;">test</td>
    </tr>

    <tr style="border-bottom: 1px solid lightgray;">
      <td><b>Korisnik:</b></td>
      <td style="padding-bottom: 10px; padding-top: 10px;">test</td>
    </tr>
  </table>
</div>

<div class="col-md-8 col-md-offset-0">
  <table style="width: 100%">
    <tr style="border-bottom: 1px solid lightgray;">
      <td><b>Naziv:</b></td>
      <td style="padding-bottom: 10px; padding-top: 10px;">test</td>
    </tr>

    <tr style="border-bottom: 1px solid lightgray;">
      <td><b>Tip ugovora:</b></td>
      <td style="padding-bottom: 10px; padding-top: 10px;">test</td>
    </tr>

    <tr style="border-bottom: 1px solid lightgray;">
      <td><b>Nekretnina:</b></td>
      <td style="padding-bottom: 10px; padding-top: 10px;">test</td>
    </tr>

    <tr style="border-bottom: 1px solid lightgray;">
      <td><b>Korisnik:</b></td>
      <td style="padding-bottom: 10px; padding-top: 10px;">test</td>
    </tr>
  </table>

</div>
