<div class="col-md-6 col-md-offset-2">
    <h1>Izvještaji</h1>
    <br/>
    <br/>
    <table style="width: 100%">
      <tr style="border-bottom: 1px solid lightgray;">
        <td style="padding: 5px; padding-bottom: 10px"><b>Tip izvještaja</b></td>
      </tr>

      <tr style="border-bottom: 1px solid lightgray;">
        <td style="padding: 5px;"><%= link_to 'Mjesečni izvještaj o broju objavljenih nekretnina', monthly_articles_path %></td>
      </tr>
      <tr style="border-bottom: 1px solid lightgray;">
        <td style="padding: 5px"><%= link_to 'Izvještaj o broju objavljenih nekretnina na području određenog grada', real_estates_by_city_path %></td>
      </tr>

      <tr style="border-bottom: 1px solid lightgray;">
        <td style="padding: 5px"><%= link_to 'Mjesečni izvještaj o broju uspješno izdatih nekretnina', number_of_rented_real_estates_per_month_path %></td>
      </tr>

      <tr style="border-bottom: 1px solid lightgray;">
        <td style="padding: 5px"><%= link_to 'Izvještaj o broju uspješno izdatih nekretnina na području određenog grada', number_of_rented_by_city_path %></td>
      </tr>

      <tr style="border-bottom: 1px solid lightgray;">
        <td style="padding: 5px"><%= link_to 'Izvještaj o broju objavljenih nekretnina od strane određenog korisnika', number_of_real_estates_per_user_path %></td>
      </tr>

      <tr style="border-bottom: 1px solid lightgray;">
        <td style="padding: 5px"><%= link_to 'Izvještaj o broju uspješno izdatih nekretnina od strane određenog korisnika', number_of_rented_real_estates_per_user_path %></td>
      </tr>

      <tr style="border-bottom: 1px solid lightgray;">
        <td style="padding: 5px"><%= link_to 'Izvještaj o ukupnom broju korisnika', total_number_of_users_path %></td>
      </tr>
      <tr style="border-bottom: 1px solid lightgray;">
        <td style="padding: 5px"><%= link_to 'Izvještaj o ukupnom broju objavljenih nekretnina', total_number_of_real_estates_path %></td>
      </tr>

      <tr style="border-bottom: 1px solid lightgray;">
        <td style="padding: 5px"><%= link_to 'Izvještaj o ukupnom broju iznajmljenih nekretnina', number_of_rented_real_estates_path %></td>
      </tr>
      
    </table>
</div>


