<p id="notice"><%= notice %></p>

<p>
  <b>Izvještaj:</b>
  <%= @report.report %>
</p>

<p>
  <b>Datum:</b>
  <%= @report.reportDate %>
</p>


<%= link_to 'Uredi', edit_report_path(@report) %> |
<%= link_to 'Nazad', reports_path %>
