<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <%= link_to "nekretnine.ba", root_path, id: "logo" %>
        <ul class="nav navbar-nav navbar-left">
          <li class="menu"><%= link_to "STANOVI", apartments_path %></li>
          <li class="menu"><%= link_to "KUĆE", houses_path %></li>
          <li class="menu"><%= link_to "GARAŽE", garages_path %></li>
          <li class="menu"><%= link_to "SOBE", rooms_path %></li>
          <li class="menu"><%= link_to "OSTALO", others_path %></li>
          <% if signed_in? && current_user.admin? %>
              <li class="menu"><%= link_to "KORISNICI", users_path %></li>
          <% end %>
        </ul>
        <% if signed_in? && (current_user.manager? || current_user.user?)%>
          <ul class="nav navbar-nav navbar-center">
            <% if signed_in? && current_user.manager? %>
                <li class="menu"><%= link_to "UGOVORI", contracts_path %></li>
                <li class="menu"><%= link_to "AKTIVNOSTI", activities_path %></li>
                <li class="menu"><%= link_to "IZVJEŠTAJI", reports_path %></li>
            <% end %>
          </ul>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Uputstvo", help_path %></li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Račun <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profil", current_user %></li>
                <li><%= link_to "Postavke", edit_user_path(current_user) %></li>
                <li><%= link_to "Snimljeno", saved_real_estates_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Odjava", signout_path, method: "delete" %> </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Prijava", signin_path %></li>
          <% end %>
        </ul>
    </div>
</nav>